<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/real_db?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root123</property>
    <mapping resource="com/real/pojo/Usermaster.hbm.xml"/>
    <mapping resource="com/real/pojo/Userdetails.hbm.xml"/>
    <mapping resource="com/real/pojo/Extrapricingitems.hbm.xml"/>
    <mapping resource="com/real/pojo/Companymaster.hbm.xml"/>
    <mapping resource="com/real/pojo/Groupextrapricing.hbm.xml"/>
    <mapping resource="com/real/pojo/Businesstypes.hbm.xml"/>
    <mapping resource="com/real/pojo/Areaunits.hbm.xml"/>
    <mapping resource="com/real/pojo/Groupinstallments.hbm.xml"/>
    <mapping resource="com/real/pojo/Grouppricing.hbm.xml"/>
    <mapping resource="com/real/pojo/Rolemaster.hbm.xml"/>
    <mapping resource="com/real/pojo/Branchmaster.hbm.xml"/>
    <mapping resource="com/real/pojo/Groupmaster.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
